* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 50px;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.mx-15 {
    margin-left: 15px;
    margin-right: 15px;
}

.my-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.m-15 {
    margin: 15px;
}

.app {
    display: flex;
    flex-direction: column;
}

.header{
    background: #333;
    height: 50px;
    padding: 0 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.footer {
    color: #fff;
    background: #333;
}

.main-menu {
    display: flex;
}

.main-menu > div{
    margin-left: 15px;
}

.card {
    border: 1px solid #333;
    background: #eee;
    text-align: center;
    height: 300px;
    width: 100%;
    transition: all .3s linear;
}

.card:hover {
    background: #0b2e13;
    transform: scale(1.3);
}

.mr-15 {
    margin-right: 15px;
}

.image-wrapper {
    background: #000;
    position: relative;
}

.image-wrapper img {
    width: 100%;
}

.custom-btn {
    font-size: 12px;
}

.custom-btn.another-class {
    background: #101113;
}

.custom-spinner {
    display: none;
}

input:checked + label {
    color: red;
}

.form-group > input {
    border: 1px solid red;
}

ul li:nth-child(2n + 1){
    color: red;
}

input {
    width: calc(100% - 30px);
}

/*.drawer-wrapper:not(.active) {*/
/*    display: none;*/
/*}*/

.toggle-drawer {
    display: none;
}

.drawer-menu {
    display: flex;
}

.drawer-menu > div {
    padding: 10px;
}

.header-drawer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    border-bottom: 1px solid #000;
    z-index: 1
}

@media only screen and (max-width: 765px) {
    .column-wrapper {
        flex-direction: column;
    }

    .toggle-drawer {
        display: block;
    }

    .drawer-menu {
        display: flex;
        flex-direction: column;
    }

    .drawer-wrapper {
        position: fixed;
        right: -430px;
        background: #fff;
        border-left: 1px solid #000;
        top: 0;
        bottom: 0;
        padding: 15px;
        width: 100%;
        max-width: 380px;
        z-index: 2;
        transition: all .3s linear;
    }

    .drawer-wrapper.active {
        right: 0;
        max-width: none;
    }

    body.drawer-open {
        overflow: hidden;
    }

    p {
        padding: 15px;
    }
}